:root{
    --primary-color: #0b4f6c;
    --secondary-color:#fbfbff;
    --accent1-color:#20bf55;
    --accent2-color:#01baef;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", serif;
    font-weight: 700;
    color: var(--secondary-color);


}
p{
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}
footer nav a {
    text-decoration: none;
}
header {
display: grid;
grid-template-columns: 1fr 8fr;
justify-content: center;
align-items: center;


}
.logo-box img {
    border:2px solid #0b4f6c;
    border-radius: 20px;
}
.navigation {
display: flex;
justify-content: space-around;
background-color: #0b4f6c;

}
a {
font-size: 1.3rem;
text-decoration: none;
padding: 25px;
color: var(--secondary-color);
}
body{
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: auto;
}
div.hero{
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}
.hero h1{
    background-color: rgb(0, 0, 0 , 0.5);
    width: 100%;
    height: auto;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,0%);
    z-index: 1;

}
.hero img {
    width: 100%;
} 
.hero article {
    background-color: rgb(11, 79, 108 , 0.5);
    display: block;
    position:absolute;
    width: 90%;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    

}
.hero article img{
border:2px solid var(--secondary-color);
float: right;
margin: 10px;
width: 10%;
z-index: 1;
}
.hero p {
    color: var(--secondary-color);
}
/*History*/
.flex-history {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    align-items: center;
    border: 8px double var(--secondary-color) 
}
.flex-history p {
text-align: justify ;
padding: 10px;
margin: 10px;
color: var(--secondary-color);
}
.flex-history img {
width: 150px;
border:solid 2px #01baef;
    }
.main-column {
    color: var(--primary-color);
    text-align: center;
} 
.adventure-grid {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    background-color: var(--primary-color);
    margin: 20px;
    
} 
.adventure-grid h2{
    text-align: center;
    border-bottom: solid 1px var(--secondary-color);

}
.adventure-flex{
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    gap: 20px;
    padding: 12px;
    flex-wrap: wrap;

}
section img{
    width: 220px;
    border: 1px solid var(--accent2-color);
}
.adventure-flex figure {
    margin: 0;
}
figcaption {
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
} 
footer p{
    margin: 50px;
    padding:10px;
    font-size: 1.5rem;
    text-align: center;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0 , 0.1);
    
}
.social-links{
    text-align: center;
} 
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

/*Contact us h1 title*/
.contact-h1 {
    display: block;
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;  
}
/*company information box*/
.contact-information-box {
    display: grid;
    padding: 1rem;
    max-width: 800px;
    border: solid 2px var(--primary-color);
    border-radius: 20px;
    text-align: center;
    align-items: center;
}
.information-box-container {
    display: flex;
    justify-content: center;
}
th {
    text-align: right;
    color: var(--primary-color);
    font-size: 1.2em;
}
td {text-align: left;
    color: rgb(73, 72, 72);
    font-size: 1.2em;
}
.map-container {
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 60px;
}
.meet-the-team-header {
    color: var(--primary-color);
    text-align: center;
}
.employees-container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 100px;
    max-width: 100%;
}
.employees-container img {
    max-height: 174px;
    border-color: #474444;
    border-radius: 10px;
}
.employees-container figcaption {
    color: var(--primary-color);
    font-size: 1rem;
    max-width: 15rem;
    text-align: center;
    background-color: #474444;
    color: var(--secondary-color);


}
.meet-section {
    padding: 10px;
    box-shadow: 0 0 0 3px #ddd;
    box-shadow:0 4px 8px #474444;
    border-radius: 20px;
    margin-bottom: 60px;
}
.client-form-container h2{
    color: var(--primary-color);
 
}
.client-form-container {
    border: 2px solid var(--primary-color);
    padding: 20px;
    max-width: 500px;
   
    
}
.name-container {
    border: 0;
    font-size: 1.2em;
}
.email-container {
    border: 0;
    font-size: 1.2em;
}
.input-name {
    width: 100%;
    max-width: 300px; 
    height: 40px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
}
.input-email {
    width: 100%;
    max-width: 300px; 
    height: 40px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;

}
.contact-container {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2em;
    margin: 20px;
}
.message-container  {
    width: 100%;
    max-width: 270px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2em;
}
.suscribe-container {
    border: 0;
    font-size: 1.2em;
}
.button-container {
    border: 0;
    
}
.button1{
    width:10rem;
    font-size: 1.2em;
    height: 3rem;
    border-radius: 5px;
    background-color:  var(--primary-color);
    color:white;
    
}
.wireframe {
    font-size: 2.0em;
    color: rgb(30, 0, 199);
    text-align: center;
    text-decoration: underline;
 
    
}