:root{
    --primary-color: #0b4f6c;
    --secondary-color:#fbfbff;
    --accent1-color:#20bf55;
    --accent2-color:#01baef;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", serif;
    font-weight: 700;
    color: var(--secondary-color);


}
p{
    font-family: "Abel", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}
footer nav a {
    text-decoration: none;
}
body{
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}
main{
    width: 1024px;
    height: auto;
}
div.hero{
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
}
.hero h1{
    background-color: rgb(0, 0, 0 , 0.5);
    width: 100%;
    height: auto;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,0%);
    z-index: 1;

}

.hero article {
    background-color: rgb(11, 79, 108 , 0.5);
    display: block;
    position:absolute;
    width: 90%;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    

}
.hero article img{
border:2px solid var(--secondary-color);
float: right;
margin: 10px;
width: 10%;
z-index: 1;
}
.hero p {
    color: var(--secondary-color);
}
h2 {
    color: var(--primary-color);
}